@import url("https://fonts.googleapis.com/css?family=Raleway:400, 800");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  overflow-x: hidden;
}

body {
  background-color: #96d5e2;
  padding: 0;
  margin: 0;
  width: 100vw;
  margin: 0 auto;
}

.header {
  z-index: 10;
  margin: 0;
  padding: 1em 1.5em;
  width: 100%;
  font-size: 1.3em;
  color: white;
  background-color: rgb(255, 255, 255, 0.7);
  top: 0;
  position: sticky;
  display: flex;
  box-sizing: border-box;
}

.header a:nth-child(2) {
  margin-left: auto;
  color: black;
  text-decoration: none;
}

.header > a > img {
  width: auto;
  height: 70px;
}

h1 {
  text-align: left;
  font-size: 2em;
  font-weight: 400;
  padding-left: 0.5em;
  color: black;
}

/*=============================================
=            search section block             =
=============================================*/

.wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.wrapper h1 {
    text-align: left;
    padding-left: 0;
}

.search-wrapper {
  display: flex;
}

#search-input {
  outline: none;
  padding: 1.5em;
  border: 2px solid white;
  font-size: 1em;
  width: 60em;
  font-family: "Montserrat";
  transition: all 0.3s ease-in-out;
}

::placeholder {
  opacity: 0.4;
}

#search-input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 1.5em;
  border: 2px solid rgba(81, 203, 238, 1);
}

#search {
  font-family: "Montserrat";
  font-size: 1.5em;
  outline: none;
  margin-left: 0.3em;
  padding: 0.9em 3em;
  border: none;
  color: white;
  background-color: rgba(254, 1, 0, 0.8);
  cursor: pointer;
}

#search:active {
  transform: scale(0.95);
}

.loading {
  color: black;
  font-size: 5em;
  text-align: center;
  visibility: hidden;
}

.overview {
  display: none;
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
  padding: 5% 10%;
}

.overview-header {
    display: none;
    margin-left: 2em;
}

/* Book articles */
article {
  width: 25%;
  background-color: #b2ecf8;
  padding: 1em;
  margin: 2em 2em 2em 0em;
}

/*=====  End of search block section  ======*/

.suggestion-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-wrapper > h1 {
  margin-top: 7em;
  padding-left: 3em;
}

figure.suggestion {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 1em;
  min-width: 400px;
  max-width: 310px;
  max-height: 250px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.suggestion * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.suggestion img {
  height: 100%;
  width: 100%;
  position: relative;
  opacity: 0.4;
}

figure.suggestion figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.suggestion h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.suggestion h2 span {
  font-weight: 800;
}

figure.suggestion:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.suggestion a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.suggestion:hover img,
figure.suggestion.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.suggestion:hover h2,
figure.suggestion.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.suggestion:hover:before,
figure.suggestion.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}

figure.suggestion.blue h2 {
  background: #00a3da;
}

figure.suggestion.red h2 {
  background: #d8232a;
}

figure.suggestion.green h2 {
  background: #019949;
}

figure.suggestion.purple h2 {
  background: #812c7c;
}

figure.suggestion.pink h2 {
  background: #d8127c;
}

.loading {
  color: black;
  font-size: 5em;
  text-align: center;
  visibility: hidden;
}

/* Favourites */
.favourites {
  display: none;
}

.favourites h2 {
    margin-left: 1.5em;
    font-weight: 400;
}

/* HIDE AND SHOW */
.hide {
  display: none;
}

.show {
  display: flex;
  flex-wrap: wrap;
}

/* loading dots */

.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: black;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
  }
}

.show-loading {
  visibility: initial;
}